<header>
    <div class="container">
        <h1>JJ TAX</h1>
        <nav>
            <ul>
                <li style="display: none;" id="admin"><a href="/admin">ADMIN</a></li>
                <li><a href="/signout">signout</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>

<script>

    async function run() {
        try {
            const data = await fetch('http://localhost:3000/check_admin');
            data_json = await data.json();
            if(data_json.emial=='jitujha202@gmail.com') {
                document.getElementById('admin').style.display = 'block';
            }
        }
        catch (err) {
            console.log(err);
        }
    }
    run();

</script>